<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">


        <h2>You're on the list!</h2>
        <div class="card">
          <div class="card-body">
            <table style="width:100%">
              <tr>
                <th>Name</th>
                <th>Pet Type</th>
                <th>Phone</th>
                <th>Zip</th>
              </tr>

              {{#each example}}
              <tr>
                <td> {{this.name}}</td>
                <td>{{this.petType}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.zip}}</td>
              </tr>
              {{/each}}

            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<center>
  <a href="/profiles">Click here to view available pet sitters</a>
</center>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>