<div class="container">
  <div class="spacer1"></div>
  <div class="jumbotron text-center" id="jumbo">
    <h1 class="display-4 title">Claws N' Paws Pet Sitters</h1>
    <h3 class="slogan">We love cats & dogs as much as you do</h3>
    <!-- <hr class="my-4"> -->
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div> <!-- close Jumbo-->
<center>
   <h3>Enter your zip to find a Pet Sitter in your area</h3>
<div class="row">
  <div class="col" id="centerMe">
  <form class="clearfix"  action="/profiles/">
          <div class="col-lg-2">
           
            <input type="text" class="form-control js-search-location fs-hide" id="zips" placeholder="Zip Code"
              value="">
            <span class="input-group-btn">
              <button class="glass-btn rover-btn-primary js-search-search-button" id="zipSubmit" type="submit">
                <i class="small material-icons">search</i>
              </button><br>
        </form>
        </div>
</div>
</center>
    {{!-- <form class="clearfix mb-4">
    <div class="col-lg-6">
      <div class="card right-panel" style="height: 20rem; width: 33.75rem;">
        <div class="card-body">
          <h4 class="card-title text-center">Enter your preferences</h4>
          <br>
      
            <div class="form-group">
              <label for="petType">I am looking for services for my</label>
              <input type="text"  id="petType" class="form-control" aria-describedby="petType"
                placeholder="Pet Type">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-4">
              <input type="text" class="form-control" id="zip" aria-describedby="zip" placeholder="ZIP">
              </div>
              <div class="col-2"></div>
              <div class="col-6">
              <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Phone Number">
           </div><br><br>
             <div class="col-12">
              <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Full Name">
           </div>
            </div>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
             
          </form>
          --}}

        </div>
      </div>
    </div>

  </div>
</div> <!-- close container div -->

<div class="spacer2">

</div>



<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="text-center">
      <span class="text muted">Copyright &copy; 2019</span>
    </div>
  </div>
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>